# Slicing & Indexing
## Explicit Indexes

Q1. read the weather data and print it. (1 marks)

In [432]:
### START CODE HERE : 
import numpy as np
import pandas as pd

data = pd.read_csv("/home/james/Downloads/weather.csv")

data.head()


### END CODE

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,RainToday,RainTomorrow,Date
0,8.0,24.3,0.0,30,No,Yes,2020-01-01
1,14.0,26.9,0.0,39,No,Yes,2020-02-10
2,13.7,23.4,26.6,85,Yes,Yes,2020-03-15
3,13.3,15.5,39.8,54,Yes,Yes,2020-04-10
4,7.6,16.1,49.0,50,Yes,No,2020-05-15

Q2. Show the columns and indexes (1 marks)

In [433]:
### START CODE HERE : 
print(data.index.values)
print(data.columns.values)

### END CODE

[0 1 2 3 4 5 6 7 8 9]
['MinTemp' 'MaxTemp' 'Rainfall' 'WindGustSpeed' 'RainToday' 'RainTomorrow'
 'Date']

Q3. Set **"RainToday"** as an index value (1 marks)

In [434]:
### START CODE HERE : 

data.set_index("RainToday" , inplace =True)

data.head()




### END CODE

           MinTemp  MaxTemp  Rainfall  WindGustSpeed RainTomorrow        Date
RainToday
No             8.0     24.3       0.0             30          Yes  2020-01-01
No            14.0     26.9       0.0             39          Yes  2020-02-10
Yes           13.7     23.4      26.6             85          Yes  2020-03-15
Yes           13.3     15.5      39.8             54          Yes  2020-04-10
Yes            7.6     16.1      49.0             50           No  2020-05-15

Q4. Reset the **index** to previous state (1 marks)

In [435]:
### START CODE HERE : 


data=  data.reset_index()

data.head()





### END CODE

,RainToday,MinTemp,MaxTemp,Rainfall,WindGustSpeed,RainTomorrow,Date
0,No,8.0,24.3,0.0,30,Yes,2020-01-01
1,No,14.0,26.9,0.0,39,Yes,2020-02-10
2,Yes,13.7,23.4,26.6,85,Yes,2020-03-15
3,Yes,13.3,15.5,39.8,54,Yes,2020-04-10
4,Yes,7.6,16.1,49.0,50,No,2020-05-15

Q5. Drop the **index** (1 marks)

In [436]:
### START CODE HERE : 
data.to_string(index=False)




### END CODE

'RainToday  MinTemp  MaxTemp  Rainfall  WindGustSpeed RainTomorrow        Date\n       No      8.0     24.3       0.0             30          Yes  2020-01-01\n       No     14.0     26.9       0.0             39          Yes  2020-02-10\n      Yes     13.7     23.4      26.6             85          Yes  2020-03-15\n      Yes     13.3     15.5      39.8             54          Yes  2020-04-10\n      Yes      7.6     16.1      49.0             50           No  2020-05-15\n       No      6.2     16.9       0.0             44           No  2020-06-10\n      Yes      6.1     18.2      45.6             43           No  2020-07-17\n      Yes      8.3     17.0      34.0             41           No  2020-08-28\n       No      8.8     19.5       0.0             48          Yes  2020-10-29\n      Yes      8.4     22.8      25.0             31           No  2020-12-21'

### Subsetting from indexes 
Q1. Use the **Rainfall** index to make subset from **(0.0 to 3.6)** (1 marks)

In [437]:
### START CODE HERE : 

rainfallsubset=data[(data["Rainfall"] < 3.6)]

rainfallsubset



### END CODE

,RainToday,MinTemp,MaxTemp,Rainfall,WindGustSpeed,RainTomorrow,Date
0,No,8.0,24.3,0.0,30,Yes,2020-01-01
1,No,14.0,26.9,0.0,39,Yes,2020-02-10
5,No,6.2,16.9,0.0,44,No,2020-06-10
8,No,8.8,19.5,0.0,48,Yes,2020-10-29

### Index value don't have to be unique
Q2. Set **"RainTomorrow"** as an index value (1 marks)

In [438]:
### START CODE HERE : 



data= data.set_index("RainTomorrow")

data



### END CODE

             RainToday  MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainTomorrow
Yes                 No      8.0     24.3       0.0             30  2020-01-01
Yes                 No     14.0     26.9       0.0             39  2020-02-10
Yes                Yes     13.7     23.4      26.6             85  2020-03-15
Yes                Yes     13.3     15.5      39.8             54  2020-04-10
No                 Yes      7.6     16.1      49.0             50  2020-05-15
No                  No      6.2     16.9       0.0             44  2020-06-10
No                 Yes      6.1     18.2      45.6             43  2020-07-17
No                 Yes      8.3     17.0      34.0             41  2020-08-28
Yes                 No      8.8     19.5       0.0             48  2020-10-29
No                 Yes      8.4     22.8      25.0             31  2020-12-21

Q3. subset on the index value using **.loc()** function as **"Yes"** (1 marks)

In [439]:
### START CODE HERE : 


yessubset=data.loc[['Yes']]

yessubset


### END CODE

             RainToday  MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainTomorrow
Yes                 No      8.0     24.3       0.0             30  2020-01-01
Yes                 No     14.0     26.9       0.0             39  2020-02-10
Yes                Yes     13.7     23.4      26.6             85  2020-03-15
Yes                Yes     13.3     15.5      39.8             54  2020-04-10
Yes                 No      8.8     19.5       0.0             48  2020-10-29

### Multi-level indexes 
Q4. Use multilevel indexes in **RainToday** & **RainTomorrow** using set_index() funtion (2 marks)

In [440]:
data=data.reset_index()

data

,RainTomorrow,RainToday,MinTemp,MaxTemp,Rainfall,WindGustSpeed,Date
0,Yes,No,8.0,24.3,0.0,30,2020-01-01
1,Yes,No,14.0,26.9,0.0,39,2020-02-10
2,Yes,Yes,13.7,23.4,26.6,85,2020-03-15
3,Yes,Yes,13.3,15.5,39.8,54,2020-04-10
4,No,Yes,7.6,16.1,49.0,50,2020-05-15
5,No,No,6.2,16.9,0.0,44,2020-06-10
6,No,Yes,6.1,18.2,45.6,43,2020-07-17
7,No,Yes,8.3,17.0,34.0,41,2020-08-28
8,Yes,No,8.8,19.5,0.0,48,2020-10-29
9,No,Yes,8.4,22.8,25.0,31,2020-12-21

In [441]:
### START CODE HERE : 





data=data.set_index(["RainToday","RainTomorrow"])


data



### END CODE

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
No        Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
Yes       Yes              13.7     23.4      26.6             85  2020-03-15
          Yes              13.3     15.5      39.8             54  2020-04-10
          No                7.6     16.1      49.0             50  2020-05-15
No        No                6.2     16.9       0.0             44  2020-06-10
Yes       No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
No        Yes               8.8     19.5       0.0             48  2020-10-29
Yes       No                8.4     22.8      25.0             31  2020-12-21

Q5. Subset the outer level as **"No"** (1 marks)

In [445]:
### START CODE HERE : 

no_subset = data.loc[('No')]

no_subset



### END CODE

              MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainTomorrow
Yes               8.0     24.3       0.0             30  2020-01-01
Yes              14.0     26.9       0.0             39  2020-02-10
No                6.2     16.9       0.0             44  2020-06-10
Yes               8.8     19.5       0.0             48  2020-10-29

### Subset inner levels with list of tuples
Q1. Use **.loc()** function in **("No","Yes") ("Yes","No")**(2 marks)

In [452]:
### START CODE HERE : 


noyes_subset = data.loc[("No","Yes") ]

noyes_subset







### END CODE

/home/james/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  after removing the cwd from sys.path.

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
No        Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
          Yes               8.8     19.5       0.0             48  2020-10-29

In [455]:
noyes_subset = data.loc[("Yes"),("No") ]

noyes_subset

/home/james/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
Yes       No                7.6     16.1      49.0             50  2020-05-15
          No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
          No                8.4     22.8      25.0             31  2020-12-21

### Sorting by index value
Q1. Use the **sort** function to sort **weather_ind3**(1 marks)

In [464]:
### START CODE HERE : 

data.iloc[[3]].sort_index(axis=0)





### END CODE

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
Yes       Yes              13.3     15.5      39.8             54  2020-04-10

In [466]:
data=data.sort_index(axis=0)
data

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
No        No                6.2     16.9       0.0             44  2020-06-10
          Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
          Yes               8.8     19.5       0.0             48  2020-10-29
Yes       No                7.6     16.1      49.0             50  2020-05-15
          No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
          No                8.4     22.8      25.0             31  2020-12-21
          Yes              13.7     23.4      26.6             85  2020-03-15
          Yes              13.3     15.5      39.8             54  2020-04-10

# Slicing & Subsetting with .loc & .iloc

Q1. **set** the weather **index** as "MinTemp" and "MaxTemp" then **sort** it (2 marks)

In [469]:
### START CODE HERE : 

data=data.reset_index()

data=data.set_index(["MinTemp", "MaxTemp"])

data=data.sort_index(axis=0)

data




### END CODE

,,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed,Date
MinTemp,MaxTemp,,,,,,
6.1,18.2,5,Yes,No,45.6,43,2020-07-17
6.2,16.9,0,No,No,0.0,44,2020-06-10
7.6,16.1,4,Yes,No,49.0,50,2020-05-15
8.0,24.3,1,No,Yes,0.0,30,2020-01-01
8.3,17.0,6,Yes,No,34.0,41,2020-08-28
8.4,22.8,7,Yes,No,25.0,31,2020-12-21
8.8,19.5,3,No,Yes,0.0,48,2020-10-29
13.3,15.5,9,Yes,Yes,39.8,54,2020-04-10
13.7,23.4,8,Yes,Yes,26.6,85,2020-03-15
14.0,26.9,2,No,Yes,0.0,39,2020-02-10

#### Slice outer index level
Q2. slice the index from **(6.1 to 8.0)** (1 marks)

In [481]:
### START CODE HERE : 


data.loc[6.1:8.0]

### END CODE

,,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed,Date
MinTemp,MaxTemp,,,,,,
6.1,18.2,5,Yes,No,45.6,43,2020-07-17
6.2,16.9,0,No,No,0.0,44,2020-06-10
7.6,16.1,4,Yes,No,49.0,50,2020-05-15
8.0,24.3,1,No,Yes,0.0,30,2020-01-01

#### Slice the inner index level

Q3. Slice the **first four** index index (1 marks)

In [480]:
### START CODE HERE : 

data.iloc[:3]

### END CODE

,,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed,Date
MinTemp,MaxTemp,,,,,,
6.1,18.2,5,Yes,No,45.6,43,2020-07-17
6.2,16.9,0,No,No,0.0,44,2020-06-10
7.6,16.1,4,Yes,No,49.0,50,2020-05-15

#### Slicing columns
Q4. Slice weather_srt by columns **(Rainfall and WindGustSpeed)** (2 marks)

In [482]:
### START CODE HERE : 

data.loc[:,['Rainfall','WindGustSpeed']]

### END CODE

                 Rainfall  WindGustSpeed
MinTemp MaxTemp
6.1     18.2         45.6             43
6.2     16.9          0.0             44
7.6     16.1         49.0             50
8.0     24.3          0.0             30
8.3     17.0         34.0             41
8.4     22.8         25.0             31
8.8     19.5          0.0             48
13.3    15.5         39.8             54
13.7    23.4         26.6             85
14.0    26.9          0.0             39

#### Slice twice
Q5. Slice weather_srt twice from **(6.1, 18.3 to 8.0,24.3)** keeping columns **RainToday** and **RainTomorrow** (2 marks)

In [486]:
### START CODE HERE : 

print(data.loc[6.1:18.3,['RainToday','RainTomorrow']])

print(data.loc[8.0:24.3,['RainToday','RainTomorrow']])

### END CODE

                RainToday RainTomorrow
MinTemp MaxTemp
6.1     18.2          Yes           No
6.2     16.9           No           No
7.6     16.1          Yes           No
8.0     24.3           No          Yes
8.3     17.0          Yes           No
8.4     22.8          Yes           No
8.8     19.5           No          Yes
13.3    15.5          Yes          Yes
13.7    23.4          Yes          Yes
14.0    26.9           No          Yes
                RainToday RainTomorrow
MinTemp MaxTemp
8.0     24.3           No          Yes
8.3     17.0          Yes           No
8.4     22.8          Yes           No
8.8     19.5           No          Yes
13.3    15.5          Yes          Yes
13.7    23.4          Yes          Yes
14.0    26.9           No          Yes

#### Slicing by dates 
Q6. **set()** "Date" as index and **sort()** it (1 marks)

In [492]:
### START CODE HERE : 

data=data.reset_index()

data= data.set_index("Date")
data=data.sort_index()
data



### END CODE

,MinTemp,MaxTemp,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed
Date,,,,,,,
2020-01-01,8.0,24.3,1,No,Yes,0.0,30
2020-02-10,14.0,26.9,2,No,Yes,0.0,39
2020-03-15,13.7,23.4,8,Yes,Yes,26.6,85
2020-04-10,13.3,15.5,9,Yes,Yes,39.8,54
2020-05-15,7.6,16.1,4,Yes,No,49.0,50
2020-06-10,6.2,16.9,0,No,No,0.0,44
2020-07-17,6.1,18.2,5,Yes,No,45.6,43
2020-08-28,8.3,17.0,6,Yes,No,34.0,41
2020-10-29,8.8,19.5,3,No,Yes,0.0,48
2020-12-21,8.4,22.8,7,Yes,No,25.0,31

Q7. Slice weather **date** between **2020-01-01** and **2020-04-10** (1 marks)

In [494]:
### START CODE HERE : 

data.loc["2020-01-01" :"2020-04-10"]

### END CODE

,MinTemp,MaxTemp,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed
Date,,,,,,,
2020-01-01,8.0,24.3,1,No,Yes,0.0,30
2020-02-10,14.0,26.9,2,No,Yes,0.0,39
2020-03-15,13.7,23.4,8,Yes,Yes,26.6,85
2020-04-10,13.3,15.5,9,Yes,Yes,39.8,54

Q8. slice by partial dates i.e **first five months** (1 marks)

In [495]:
### START CODE HERE : 

data.iloc[:5]

### END CODE

,MinTemp,MaxTemp,index,RainToday,RainTomorrow,Rainfall,WindGustSpeed
Date,,,,,,,
2020-01-01,8.0,24.3,1,No,Yes,0.0,30
2020-02-10,14.0,26.9,2,No,Yes,0.0,39
2020-03-15,13.7,23.4,8,Yes,Yes,26.6,85
2020-04-10,13.3,15.5,9,Yes,Yes,39.8,54
2020-05-15,7.6,16.1,4,Yes,No,49.0,50

### Subsetting by rows and columns
Q9. Subset weather by **row (2 to 5)** and **columns (1 to 4)** (1 marks)

In [496]:
### START CODE HERE : 

data.iloc[2:5,1:4]

### END CODE

            MaxTemp  index RainToday
Date
2020-03-15     23.4      8       Yes
2020-04-10     15.5      9       Yes
2020-05-15     16.1      4       Yes

# Working with pivot tables
Q1. **Pivot** the weather by keeping value as "Rainfall", **index** as "MinTemp" and **columns** as "MaxTemp". (1 marks)

In [502]:
### START CODE HERE : 

table = pd.pivot_table(data, values="Rainfall",index= ["MinTemp"],columns=["MaxTemp"],fill_value=0)
table
#table.plot(kind='bar')


### END CODE

MaxTemp  15.5  16.1  16.9  17.0  18.2  19.5  22.8  23.4  24.3  26.9
MinTemp
6.1       0.0     0     0     0  45.6     0     0   0.0     0     0
6.2       0.0     0     0     0   0.0     0     0   0.0     0     0
7.6       0.0    49     0     0   0.0     0     0   0.0     0     0
8.0       0.0     0     0     0   0.0     0     0   0.0     0     0
8.3       0.0     0     0    34   0.0     0     0   0.0     0     0
8.4       0.0     0     0     0   0.0     0    25   0.0     0     0
8.8       0.0     0     0     0   0.0     0     0   0.0     0     0
13.3     39.8     0     0     0   0.0     0     0   0.0     0     0
13.7      0.0     0     0     0   0.0     0     0  26.6     0     0
14.0      0.0     0     0     0   0.0     0     0   0.0     0     0

### .loc + slicing is a power combo
Q2. Use **.loc** plus **slicing** between **first five index**(1 marks)

In [503]:
### START CODE HERE : 

table.iloc[:5]

### END CODE

MaxTemp  15.5  16.1  16.9  17.0  18.2  19.5  22.8  23.4  24.3  26.9
MinTemp
6.1       0.0     0     0     0  45.6     0     0   0.0     0     0
6.2       0.0     0     0     0   0.0     0     0   0.0     0     0
7.6       0.0    49     0     0   0.0     0     0   0.0     0     0
8.0       0.0     0     0     0   0.0     0     0   0.0     0     0
8.3       0.0     0     0    34   0.0     0     0   0.0     0     0

### The axis argument
Q3. Calculate summary stats across **index**, i.e (mean)(1 marks)

In [506]:
### START CODE HERE : 
table.mean(axis=0)

### END CODE

MaxTemp
15.5    3.98
16.1    4.90
16.9    0.00
17.0    3.40
18.2    4.56
19.5    0.00
22.8    2.50
23.4    2.66
24.3    0.00
26.9    0.00
dtype: float64

Q4. Calculate summary stats across **columns**, i.e (mean)(1 marks)

In [507]:
### START CODE HERE : 

table.mean(axis=1)


### END CODE

MinTemp
6.1     4.56
6.2     0.00
7.6     4.90
8.0     0.00
8.3     3.40
8.4     2.50
8.8     0.00
13.3    3.98
13.7    2.66
14.0    0.00
dtype: float64

# end #